/*drop down optional still thinking going to add or not*/
.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    /* padding: 16px 10px; */
    min-width: 200px;
    background-color: gray;
    background-blend-mode: lighten;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.purchase_cart{
    text-decoration: none;
    color: #223a74;
}

.purchase_cart:hover{
    color: #ffd24c;
}

.fa-star{
    color: #ffd24c;
}

.service_image img{
    max-height: 200px;
    width: auto;
}

.service_text{
    font-size: 20px;
}

/*search bar classes*/
.searchs{
   flex-grow: 1;
    min-width: 0;
    height: 32px;
    border: none;
    background: transparent;
    line-height: normal;
    color: #222;            /* Or use var(--heading-color) if defined */
    outline: none;
}

.searchs:focus {
    outline: none;
}

.search_bar label {
    cursor: pointer;
    margin-left: 4px;
    color: #888;
    display: flex;
    align-items: center;
}


.search_bar {
    display: flex;
    align-items: center;
    width: 200px;
    background: #eee;
    border-radius: 5px;
    padding: 2px 8px;
}

/*spacing*/
.spacer{
    flex: 0.5 0.5 auto;
}

/*Header */
.Header{
    position: fixed;
    background-color: lightgreen;
}



.container{
    display: flex;
    width: 100%;
    background-color: transparent;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
}

/*Code for pets till 150*/
.pet-grid{
    padding: 2%;
    flex-grow: 1;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-left: 20px;
    /* text-align: center; */
}

.pet-card img{
    max-height: 140px;
    width: auto;
    background: transparent;
    object-fit: contain;
}

.pet-card {
    flex: 1 1 18%;
    min-width: 180px;
    max-width: 350px;
    background: #eee;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.pet-label{
    display: flex;
    top: 20px;
    left: 50%;
    font-weight: bold;
    color: #255;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px #fff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.spacer_table{
    display: flex;
    /* padding: 2%;
    flex-grow: 1;
    flex-basis: 20%; */
    height: 250px;
    width: 230px;
}

.dog-card { background: #ffd24c; }
.cat-card { background: #ececec; }
.bird-card { background: #223a74; }
.fish-card { background: #ffd24c; }
.small-animal-card { background: #223a74; }

@media (max-width: 920px) {
    .pet-card {
        flex-basis: 45%;
        max-width: 100%;
    }
}
@media (max-width: 500px) {
    .pet-card {
        flex-basis: 95%;
    }
}

.item{
    padding: 2%;
    flex-grow: 1;
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.item_cart{
    padding: 2%;
    flex-grow: 2;
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.item_image{
    max-width: 100%;
}

.item_info{
    display: flex;
    flex-direction: column;
    color: #223a74;
    height: 250px;
    width: 150px;
    justify-content: center;
    text-align: left;
}

.item_info_cart{
    display: flex;
    flex-direction: row;
    color: #223a74;
    /* height: 250px; */
    width: 150px;
    justify-content: center;
    text-align: left;
}

.item_cart img{
    max-width: 100px;
}

.item_info_cart_details{
    display: flex;
    flex-direction: column;
    color: #223a74;
    height: 100px;
    justify-content: center;
    text-align: left;
    flex-basis: 50%;
    flex-grow: 0%;
}

.item_info_Profile{
    display: flex;
    flex-direction: row;
    color: #223a74;
    /* height: 250px; */
    width: 400px;
    justify-content: center;
    text-align: left;
}

.item_info_Profile_details{
    display: flex;
    flex-direction: row;
    color: #223a74;
    height: 50px;
    justify-content: center;
    text-align: left;
    flex-basis: 100%;
    flex-grow: 0%;
}

.item_info_Profile_details p{
    /* margin-right: 70px; */
    width: 200px;
    text-align: left;
}

.container_Profile{
    display: flex;
    width: 100%;
    background-color: transparent;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.footer{
	color: #223a74;
	padding: 14px 20px;
    align-items: center;
}

.footer_ul{
    height: 100px;
}

