body{
    padding: 0;
    margin: 0;
    background-image: url(images/Background.jpg);
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    top: 0%;
    left: 0%;
    height: 80px;
}

li{
   margin: 5px;
   padding: 5px;
   flex: 0 0 auto;
}

li a{
    text-decoration: none;
    text-align: center;
    padding: 20px 22px;
    color: antiquewhite;
}

li .search_bar {
    margin-left: auto;
    margin-right: auto;
}

img{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

p{
    text-align: center;
}

hr{
    margin-bottom: 70px;
    margin-top: 70px;
}
